# This is a sample .env file for use in local development.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your desired config
# See the README for full descriptions of each of the available configurations.


# Server configuration
PORT=5000

# Node Environment
ENV=DEVELOPMENT

# PostgresBG configuration
POSTGRES_USER=your-user
POSTGRES_PASSWORD=your-password
POSTGRES_SERVER=your-server
POSTGRES_PORT=your-port
POSTGRES_DB=your-bb-name

#JWT SECRET
SECRET_KEY=g5df4g56d4f6
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_MINUTES=1440

#OTP
EMAIL_OTP_EXPIRE_MINS=10

# AWS S3 BUCKET CONFIG
AWS_REGION=your-aws-region
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_S3_BUCKET_NAME=your-s3-bucket-name

# GOMAIL CONFIG
MAIL_SENDER_EMAIL=your-username
MAIL_SENDER_PASSWORD=your-password
MAIL_SENDER_HOST=smtp.example.io
MAIL_SENDER_PORT=587

#CLIENT URL
CLIENT_URL=your-client-url

#CORS
CORS_ALLOWED_ORIGINS=your-cors-origin